/* Стили для общего контейнера */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative; /* Для размещения кнопки меню относительно контейнера */
}

/* Стили для логотипа */
.sfera_logo-1 {
    margin-left: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-left: 350px; /* Отступ слева для десктопной версии */
}

/* Стили для кнопки меню (гамбургер) */
.menu-toggle {
    display: none; /* Скрыть по умолчанию */
    font-size: 30px;
    cursor: pointer;
    background: #414042;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1001; /* Убедитесь, что кнопка находится над другими элементами */
}

/* Стили для навигационного меню */
.navbar {
    background: #414042;
    font-size: 24px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    transition: transform 0.3s ease; /* Анимация для показа/скрытия меню */
}

/* Стили для ссылок в навигационном меню */
.navbar a {
    display: block;
    font-family: "Rubik";
    font-weight: 500;
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}
/* Мобильные стили для экранов до 768px */
@media (max-width: 768px) {
    .navbar {
        font-size: 18px;
        padding: 0; /* Убираем отступы */
    }

    .navbar a {
        margin: 10px 10px;
    }

    .sfera_logo-1 {
        width: 60%;
        margin-left: 0; /* Убрать отступ слева на мобильных устройствах */
    }
}

/* Мобильные стили для экранов до 480px */
@media (max-width: 480px) {
    .menu-toggle {
        display: block; /* Показать только в мобильной версии */
        position: absolute;
        right: 10px; /* Поместить кнопку в верхний правый угол */
    }

    .navbar {
        display: flex; /* Показать меню в мобильной версии */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #414042;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Убедитесь, что меню находится над другими элементами */
        overflow-y: auto; /* Добавить прокрутку, если необходимо */
        transform: translateY(-100%); /* Скрыть меню за пределами экрана по умолчанию */
        padding: 0; /* Убираем отступы */
    }

    .navbar.active {
        transform: translateY(0); /* Переместить меню в видимую область экрана */
    }

    .navbar a {
        font-size: 24px;
        margin: 15px 0;
    }

    .sfera_logo-1 {
        width: 80%;
        margin-left: 0; /* Убрать отступ слева на мобильных устройствах */
    }
}
