/* Основные стили для десктопной версии остаются без изменений */
.blur {
    background: #ff0000;
    height: 270px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 15px;
    position: relative;
}

.blur img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.carousel-link {
    outline: none;
    text-decoration: none;
}

/* Анимация для элемента карусели при наведении */
.carousel-item:hover {
    border-radius: 15px;
    transform: scale(1.05); /* Легкое увеличение элемента */
    transition: transform 0.3s ease-in-out;
}

/* Анимация для изображения внутри элемента карусели при наведении */
.carousel-item:hover img {
    filter: brightness(0.7); /* Затемнение изображения */
    transition: filter 0.3s ease-in-out;
}

/* Анимация для текста внутри элемента карусели при наведении */
.carousel-item:hover .name_lenta {
    color: #F7941D; /* Изменение цвета текста */
    transition: color 0.3s ease-in-out;
}



.blur p {
    position: relative;
    z-index: 2;
    font-family: Rubik;
    margin-left: 400px;
    font-weight: 600;
    font-size: 48px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lenta {
    color: #414042;
    font-family: Rubik;
    font-size: 36px;
    font-weight: 600;
    margin-left: 350px;
    margin-top: 20px;
}

.objectMain {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.carousel-container {
    overflow: hidden;
    width: calc(100% - 100px); /* Учитываем 50px отступы с обеих сторон */
    margin: 0 50px; /* Отступы слева и справа */
    padding-bottom: 50px; /* Отступ снизу */
}

.carousel {
    display: flex;
    gap: 20px; /* Отступ между элементами карусели */
    transition: transform 1s ease; /* Плавный переход */
    padding: 0 10px; /* Отступы внутри карусели */
    box-sizing: border-box; /* Включаем отступы и границы в ширину элемента */
    white-space: nowrap; /* Предотвращаем перенос строки */
}

.carousel-item {
    position: relative;
    min-width: 660px; /* Ширина элемента карусели */
    min-height: 360px; /* Высота элемента карусели */
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    justify-content: flex-end; /* Выравниваем содержимое по нижнему краю */
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}



.carousel-item {}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.name_lenta {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    font-family: Rubik, serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0 20px; /* Отступы для внутреннего пространства */
    white-space: normal; /* Позволяет перенос текста на новую строку */
    overflow: visible; /* Позволяет тексту выходить за пределы блока */
    display: flex; /* Используем flexbox для выравнивания */
    align-items: flex-end; /* Выравнивание содержимого по нижнему краю */
    margin-bottom: 20px; /* Отступ снизу */
}




/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .blur {
        height: 200px;
        justify-content: center; /* Центрирование содержимого по горизонтали */
        font-size: 12px;
        text-align: center;
    }

    .blur p {
        margin-left: 0;
        font-size: 24px;
        text-align: center; /* Центрирование текста */
        padding: 0 20px;
        margin-left: 0; /* Убираем отступ для мобильных устройств */
    }

    .lenta {
        margin-left: 0;
        margin-top: 15px;
        text-align: center; /* Центрирование текста */
        font-size: 24px;
    }

    .objectMain {
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Центрирование содержимого */
    }

    .carousel-container {
        width: 100%;
        overflow-x: scroll;
    }

    .carousel {
        justify-content: center; /* Центрирование элементов внутри карусели */
        gap: 20px;
    }

    .carousel-item {
        min-width: 250px;
        min-height: 250px;
    }

    .name_lenta {
        font-size: 18px;
        bottom: 10px;
        left: 10px;
    }
}

/* Адаптация стилей для 2K и 4K экранов */
@media (min-width: 2560px) {
    .blur {
        height: 450px;
        font-size: 24px;
    }

    .blur p {
        margin-left: 600px;
        font-size: 72px;
    }

    .lenta {
        font-size: 54px;
        margin-left: 500px;
        margin-top: 30px;
    }

    .carousel-container {
        width: 2000px;
    }

    .carousel-item {
        min-width: 500px;
        min-height: 500px;
    }

    .name_lenta {
        font-size: 42px;
        bottom: 30px;
        left: 30px;
    }
}

/* Адаптация стилей для 4K экранов */
@media (min-width: 3840px) {
    .blur {
        height: 600px;
        font-size: 32px;
    }

    .blur p {
        margin-left: 800px;
        font-size: 96px;
    }

    .lenta {
        font-size: 72px;
        margin-left: 700px;
        margin-top: 40px;
    }

    .carousel-container {
        width: 3000px;
    }

    .carousel-item {
        min-width: 700px;
        min-height: 700px;
    }

    .name_lenta {
        font-size: 54px;
        bottom: 40px;
        left: 40px;
    }
}