.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxjob {
    min-width: 50%;
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #fff;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    color: black;
    max-width: 50%;
}

.name {
    font-family: Rubik, serif;
    font-weight: 600;
    margin-top: 15px;
    font-size: 24px;
}

.salary, .city {
    font-family: Rubik, serif;
    font-weight: 400;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .boxjob {
        width: 90%;
        padding: 15px;
        font-size: 16px;
        max-width: none;
    }

    .boxjob div {
        margin-top: 8px;
        font-size: 16px;
    }

    .name {
        font-size: 20px;
    }
}

@media (min-width: 769px) {
    .boxjob {
        max-width: 50%;
    }

    .salary, .city {
        display: inline-block;
        margin-right: 20px;
    }
}
