.glavnoe_slovo {
    font-family: Rubik, serif;
    font-weight: bold;
    color: #F7941D;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 35px;
}

img {
    margin-left: 350px;
    width: 600px;
    height: 512px;
}

.blur {
    display: flex;
    flex-direction: row;
}

.rounded-image {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}

.opis {
    margin-left: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #434343;
}

#description {
    white-space: pre-wrap;
}


/* Адаптивные стили для glavnoe_slovo */
@media (max-width: 768px) {
    .glavnoe_slovo {
        margin-left: 0;
        margin-top: 20px;
        font-size: 5vw;
        text-align: center;
    }
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .blur {
        flex-direction: column; /* Ориентация по вертикали для мобильных устройств */
        align-items: center;
        text-align: center;
    }

    .rounded-image {
        margin-left: 0;
        margin-bottom: 20px; /* Отступ снизу для разделения с текстом */
        width: 90%; /* Уменьшение ширины для лучшего отображения на мобильных устройствах */
    }

    .opis {
        margin-left: 0;
        font-size: 18px;
        width: 90%;
    }

    #description {
        white-space: normal;
    }
}

/* Адаптивные стили для экранов с разрешением 2К */
@media (min-width: 2560px) and (max-width: 3839px) {
    .glavnoe_slovo {
        margin-left: 450px;  /* Увеличение отступа для 2К экрана */
        margin-top: 30px;
        font-size: 50px;  /* Увеличение размера шрифта */
    }

    img {
        margin-left: 450px;
        width: 800px;  /* Увеличение размера изображения */
        height: 683px;
    }

    .opis {
        margin-left: 60px;
        font-size: 35px;  /* Увеличение размера шрифта */
    }
}

/* Адаптивные стили для экранов с разрешением 4К */
@media (min-width: 3840px) {
    .glavnoe_slovo {
        margin-left: 550px;  /* Увеличение отступа для 4К экрана */
        margin-top: 40px;
        font-size: 65px;  /* Увеличение размера шрифта */
    }

    img {
        margin-left: 550px;
        width: 1200px;  /* Увеличение размера изображения */
        height: 1024px;
    }

    .opis {
        margin-left: 80px;
        font-size: 45px;  /* Увеличение размера шрифта */
    }
}
