.glavnoe_slovo {
    font-family: Rubik, serif;
    font-weight: 600;
    color: #414042;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 35px;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: auto;
    height: auto;
}

.partner-img {
    width: 60%;
    height: auto;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .glavnoe_slovo {
        margin-left: 0; /* Сбрасываем margin-left */
        margin-top: 20px; /* Сохраняем отступ сверху */
        font-size: 5vw; /* Адаптируем размер шрифта */
        text-align: center; /* Центрируем текст на мобильных устройствах */
    }
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .glavnoe_slovo {
        font-size: 5vw; /* Уменьшаем размер текста на экранах с шириной до 768px */
    }

    .partner-item {
        margin-top: 20px; /* Уменьшаем отступы между элементами для мобильных */
        width: 90%; /* Уменьшаем ширину блока на мобильных */
    }

    .partners-container {
        gap: 10px; /* Уменьшаем расстояние между партнёрами на мобильных */
    }
}

@media (max-width: 480px) {
    .glavnoe_slovo {
        font-size: 7vw; /* Ещё меньше текст для самых маленьких экранов */
    }

    .partner-item {
        width: 95%; /* Почти полный экран для каждого элемента на очень маленьких экранах */
    }

    .partners-container {
        gap: 5px; /* Уменьшаем расстояние до минимума */
    }
}

/* Адаптация стилей для 2K и 4K экранов */
@media (min-width: 2560px) {
    .glavnoe_slovo {
        margin-left: 500px;
        margin-top: 40px;
        font-size: 50px;
    }

    .partner-item {
        margin-top: 60px;
        width: auto;
        height: auto;
    }

    .partner-img {
        width: 80%;
    }
}

/* Адаптация стилей для 4K экранов */
@media (min-width: 3840px) {
    .glavnoe_slovo {
        margin-left: 700px;
        margin-top: 60px;
        font-size: 70px;
    }

    .partner-item {
        margin-top: 80px;
        width: auto;
        height: auto;
    }

    .partner-img {
        width: 100%;
    }
}
