.chlen_slona {
    font-family: Rubik;
    font-weight: bold;
    color: #F7941D;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 35px;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Увеличили отступ между элементами */
    margin-top: 40px;
}

.partner-item {
    flex: 1 1 280px; /* Установили фиксированную ширину */
    max-width: 280px;
}

.partner-img {
    width: 100%; /* Заполняем всю ширину элемента */
    height: auto; /* Высота будет рассчитываться автоматически */
    object-fit: contain;
}

.partner-item a {
    display: block; /* Сделаем ссылку блочным элементом */
}