.glavnoe_slovo {
    font-family: Rubik, serif;
    font-weight: bold;
    color: #F7941D;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 35px;
}

.manager_spisok {
    margin-left: 350px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.manager_item {
    border: 0 solid #F7941D;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .glavnoe_slovo {
        margin-left: 0;
        margin-top: 20px;
        font-size: 5vw;
        text-align: center;
    }

    .manager_spisok {
        margin-left: 0; /* Центрируем список на мобильных устройствах */
        padding: 0 20px; /* Добавляем отступы по бокам для лучшей читаемости */
    }

    .manager_item {
        justify-content: center; /* Центрируем элементы внутри блока на мобильных устройствах */
        text-align: center; /* Центрируем текст внутри блока */
        margin-top: 20px;
        padding: 20px;
        font-size: 4vw; /* Увеличиваем адаптивность размера текста */
    }
}

.manager_item span {
    font-family: Rubik, serif;
    font-weight: 300;
    font-size: 30px;
}

.role {
    color: #abacac;
}

/* Адаптация стилей для 2K и 4K экранов */
@media (min-width: 2560px) {
    .glavnoe_slovo {
        margin-left: 500px;
        margin-top: 40px;
        font-size: 50px;
    }

    .manager_spisok {
        margin-left: 500px;
        gap: 60px;
    }

    .manager_item {
        padding: 20px;
        margin-top: 30px;
        font-size: 35px;
    }

    .manager_item span {
        font-size: 40px;
    }
}

/* Адаптация стилей для 4K экранов */
@media (min-width: 3840px) {
    .glavnoe_slovo {
        margin-left: 700px;
        margin-top: 60px;
        font-size: 70px;
    }

    .manager_spisok {
        margin-left: 700px;
        gap: 80px;
    }

    .manager_item {
        padding: 30px;
        margin-top: 40px;
        font-size: 45px;
    }

    .manager_item span {
        font-size: 50px;
    }
}
