{% extends "header.html" %}

{% block title %}Закупки{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/company.css' %}">
    <script src="{% static 'js/personal.js' %}"></script>
    <div class="glavnoe_slovo">
        Закупки
    </div>
    <div class="glavnoe_slovo2">
        НАША КОМПАНИЯ ЗАКУПАЕТ СЛЕДУЮЩИЕ <br> МАТЕРИАЛЫ И УСЛУГИ НА ПОСТОЯННОЙ ОСНОВЕ:
    </div>
    <div class="content2">
    <ul>
        <li>Металлопрокат</li>
        <li>Метизы</li>
        <li>Электроды, пуансоны, проволока для сварки</li>
        <li>Спецодежда и средства индивидуальной защиты</li>
        <li>Трубы пластиковые ПНД</li>
        <li>Трубы гофрированные</li>
        <li>Нерудные стройматериалы, цемент</li>
    </ul>
    <ul>
        <li>Пиломатериалы</li>
        <li>Инструмент электрический</li>
        <li>Материалы верхнего строения ЖД пути</li>
        <li>Услуги оцинкования металлоконструкций</li>
        <li>Провода медные и биметаллические (М-120, М-95, М-35, МФ, НлФ, БСМ, ПБС)</li>
        <li>Провода алюминиевые</li>
        <li>Кабельная продукция</li>
    </ul>
</div>
{% endblock %}
