{% extends "header.html" %}

{% block title %}О компании{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/company.css' %}">
    <div class="chlen_slona">
        О КОМПАНИИ
    </div>
    <div class="all">
        <div class="gaga">
            Описание деятельности
        </div>
        <div class="content">
            Компания ООО «Сфера-Строй М» была создана 13 января 2021 года в Москве. Основным видом деятельности <br>
            является строительство железных дорог. <br>
            Компания является действующим участником саморегулируемой организации в сфере строительства. <br>
            Компания объединила в себе профессионалов в области путевого строительства, имеющих большой опыт <br>
            в планировании и организации всего комплекса работ по проектированию и строительству объектов <br>
            инфраструктуры железных дорог.
        </div>
        <div style="margin-top: 40px">
            <div class="gaga">
                Перечень предоставляемых услуг
            </div>
            <div class="content2">
                <img class="spisokrabot" src="{% static 'img/vlad-1-770x515-c-default.jpg' %}" alt="Логотип">
                <ul>
                    <li>Комплекс работ по строительству железных дорог.</li>
                    <li>Текущее содержание железнодорожного пути.</li>
                    <li>Реконструкция и ремонт объектов инфраструктуры железных дорог.</li>
                    <li>Cтроительство железных дорог необщего пользования.</li>
                    <li>Cтроительство и ремонт объектов промышленного строительства.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
