{% extends "header.html" %}

{% block title %}О компании{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/company.css' %}">
    <div class="glavnoe_slovo">Компания</div>
    <div class="container">
        <h2 class="subtitle">Описание деятельности компании</h2>
        <div class="content">
            <p>Компания ООО «Сфера-Строй М» была создана 13 января 2021 года в Москве. Основным видом деятельности является строительство железных дорог.</p>
            <p>Компания является действующим участником саморегулируемой организации в сфере строительства.</p>
            <p>Компания объединила в себе профессионалов в области путевого строительства, имеющих большой опыт в планировании и организации всего комплекса работ по проектированию и строительству объектов инфраструктуры железных дорог.</p>
        </div>

        <h2 class="subtitle">Перечень предоставляемых услуг</h2>
        <div class="service-section">
            <ul class="service-list">
                <li>Комплекс работ по строительству железных дорог.</li>
                <li>Текущее содержание железнодорожного пути.</li>
                <li>Реконструкция и ремонт объектов инфраструктуры железных дорог.</li>
                <li>Строительство железных дорог необщего пользования.</li>
                <li>Строительство и ремонт объектов промышленного строительства.</li>
            </ul>
        </div>

        <h2 class="subtitle">Технологическое оснащение</h2>
        <div class="technology-section">
            <p>Наше предприятие располагает современным комплексом машин и оборудования для ремонта и строительства железнодорожной инфраструктуры, включая устройства сигнализации и блокировки (СЦБ). Наши ресурсы включают:</p>
            <ul>
                <li>Специальная строительная техника для железнодорожного строительства, которая включает в себя специализированные машины для работы на железнодорожном ходу.</li>
                <li>Общестроительная техника, такая как экскаваторы и погрузчики, которые используются для выполнения различных строительных и земляных работ.</li>
            </ul>
            <p>Наша техника позволяет нам выполнять широкий спектр задач, от ремонта железнодорожных путей до строительства новых объектов. Мы гарантируем высокое качество услуг и надежность выполненных работ благодаря современному оборудованию и квалифицированным специалистам.</p>
        </div>
    </div>
{% endblock %}
