{% extends "header.html" %}

{% block title %}О компании{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/company.css' %}">
    <div class="glavnoe_slovo">Компания</div>
    <div class="container">
        <h2 class="subtitle">Описание деятельности компании</h2>
        <div class="content">
            <p>Компания ООО «Сфера-Строй М» была создана 13 января 2021 года в Москве. Основным видом деятельности является строительство железных дорог.</p>
            <p>Компания является действующим участником саморегулируемой организации в сфере строительства.</p>
            <p>Компания объединила в себе профессионалов в области путевого строительства, имеющих большой опыт в планировании и организации всего комплекса работ по проектированию и строительству объектов инфраструктуры железных дорог.</p>
        </div>

        <h2 class="subtitle">Перечень предоставляемых услуг</h2>
        <div class="service-section">
            <ul class="service-list">
{#                <p>#}
                    Комплекс работ по строительству железных дорог. <br>
                    Текущее содержание железнодорожного пути. <br>
                    Реконструкция и ремонт объектов инфраструктуры железных дорог. <br>
                    Строительство железных дорог необщего пользования. <br>
                    Строительство и ремонт объектов промышленного строительства.
{#                </p>#}
            </ul>
        </div>

        <h2 class="subtitle">Технологическое оснащение</h2>
        <div class="technology-section">
            <p>Предприятие располагает комплексом машин и оборудованием для ремонта и строительства железнодорожной инфраструктуры, устройств СЦБ и т.д., в состав комплекса входят как специальная строительная техника на ж.д ходу, так и общестроительного назначения (экскаваторы, погрузчики). В достаточном количестве имеются вахтовые машины, автокраны и бортовые автомобили.</p>
{#            <p>В достаточном количестве имеются вахтовые машины, автокраны, бортовые автомобили и бульдозеры.</p>#}
            <p>Наша техника позволяет нам выполнять широкий спектр задач, от ремонта железнодорожных путей до строительства новых объектов. Мы гарантируем высокое качество услуг и надежность выполненных работ благодаря современному оборудованию и квалифицированным специалистам.</p>
        </div>
    </div>
{% endblock %}
