{% extends "header.html" %}

{% block title %}Контанты{% endblock %}

{% block content %}
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <div class="glavnoe_slovo">
        Контанты
    </div>
    <div class="flex-container">
        <div class="first">
            <div>
                <span>Адрес</span>
                <span style="color: #000000">ул. Буракова, 29, Москва, 105118</span>
                <a class="map_but" href="https://yandex.ru/maps/-/CDWSEWoK">Проложить маршрут</a>
            </div>

            <div>
                <span>Телефон</span>
                <span style="color:#000000;">+7 (495) 967-67-87</span>
            </div>

            <div>
                <span>Email</span>
                <span style="color: #000000">info-sfera.m@mail.ru</span>
            </div>
        </div>
        <div class="second">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.0828722211013!2d37.733545451449785!3d55.757062583079666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53554643beca7%3A0x3951ec778a2a4894!2sBURAKOVA%2029!5e0!3m2!1sru!2sru!4v1722238069119!5m2!1sru!2sru" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
        </div>
    </div>
{% endblock %}