{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
    <title>{% block title %}Сайт{% endblock %}</title>
</head>
<body>
    <a href="{% url 'index' %}">
        <img class="sfera_logo-1" src="{% static 'img/sfera_logo-1.svg' %}" alt="Логотип">
    </a>
    <div class="navbar">
        <a href="{% url 'place' %}">НАШИ ОБЪЕКТЫ</a>
        <a href="{% url 'partner' %}">ПАРТНЁРЫ</a>
        <a href="{% url 'job' %}">ВАКАНСИИ</a>
        <a href="{% url 'personal' %}">РУКОВОДСТВО</a>
        <a href="{% url 'contact' %}">КОНТАКТЫ</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
