<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
    <title>{% block title %}Сайт{% endblock %}</title>
</head>
<body>

    <style>
        body {
        /* Устанавливаем фоновое изображение */
        {#background-color: rgba(255, 0, 0, 0.77); /* Белый цвет с 50% прозрачностью */#}
            background-image: url("{% static 'img/i.png' %}");
            background-size: cover; /* Покрывает весь экран */
            background-position: center; /* Центрируем изображение */
            background-repeat: no-repeat; /* Избегаем повторения изображения */
    }
    </style>


    <div class="header-container">
        <!-- Кнопка гамбургер -->
        <div class="menu-toggle" id="menu-toggle">
            ☰
        </div>
        <a href="{% url 'index' %}">
            <img class="sfera_logo-1" src="{% static 'img/sfera_logo-1.svg' %}" alt="Логотип">
        </a>
    </div>

    <!-- Навигационное меню -->
    <div class="navbar" id="navbar">
        <a href="{% url 'place' %}">ПРОЕКТЫ</a>
        <a href="{% url 'partner' %}">ПАРТНЁРЫ</a>
        <a href="{% url 'job' %}">ВАКАНСИИ</a>
        <a href="{% url 'personal' %}">РУКОВОДСТВО</a>
        <a href="{% url 'contact' %}">КОНТАКТЫ</a>
        <a href="{% url 'company' %}">КОМПАНИЯ</a>
    </div>

    {% block content %}{% endblock %}

    <script>
        document.getElementById('menu-toggle').onclick = function() {
            var navbar = document.getElementById('navbar');
            navbar.classList.toggle('active');
        };

        // Закрытие меню при клике вне его
        document.addEventListener('click', function(event) {
            var navbar = document.getElementById('navbar');
            var menuToggle = document.getElementById('menu-toggle');
            if (!navbar.contains(event.target) && !menuToggle.contains(event.target)) {
                navbar.classList.remove('active');
            }
        });
    </script>
</body>
</html>
