{% extends "header.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/header.js' %}"></script>
    <div class="blur">
        <img src="{% static 'img/pizdatiy_fon.png' %}" alt="Background">
        <p>СТРОИТЕЛЬСТВО ОБЪЕКТОВ<br>ЖЕЛЕЗНОДОРОЖНОЙ<br>ИНФРАСТРУКТУРЫ</p>
    </div>
    <div class="lenta">
        Новости компании:
    </div>
    <div class="objectMain">
        <div class="carousel-container">
            <div class="carousel">
                {% for obj in objects %}
                    <div class="carousel-item">
                        {% if obj.image %}
                            <img src="{{ obj.image.url }}" alt="{{ obj.name }}">
                        {% else %}
                            <p>Нет изображения</p>
                        {% endif %}
                        <span class="name_lenta">{{ obj.name }}</span>
                    </div>
                {% empty %}
                    <div class="carousel-item">Новостей пока нет</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
