{% extends "header.html" %}

{% block title %}Вакансии{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/job.css' %}">
    <div class="chlen_slona">Вакансии</div>
    {% for obj in objects %}
        <div class="conteiner">
            <div class="boxjob">
                <div class="name_opis">
                <span class="name">{{ obj.name }}</span>
                <span class="salary">Зарплата: {{ obj.salary }} ₽</span>
                <span class="city">Город: {{ obj.mesto_raboty }}</span>
                </div>
                <div class="button_pipka">
                    <form method="post" action="{% url 'apply_for_job' obj.id %}">
                    {% csrf_token %}
                    <button type="submit" class="apply-button">Откликнуться</button>
                    </form>
                    <a href="{% url 'job_detail' obj.id %}" class="details-button">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
