{% extends "header.html" %}

{% block title %}Вакансии{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/job.css' %}">
    <div class="chlen_slona">Вакансии</div>
    {% for obj in objects %}
        <div class="conteiner">
            <a class="boxjob" href="{% url 'job_detail' obj.id %}">
                <span class="name">{{ obj.name }}</span>
                <span class="salary">Зарплата: {{ obj.salary }} ₽</span>
                <span class="city">Город: {{ obj.mesto_raboty }}</span>
            </a>
        </div>
    {% endfor %}
{% endblock %}
