{% extends "header.html" %}

{% block title %}Подробности о вакансии{% endblock %}

{% block content %}
    <div class="job-detail">
        <h1>{{ job.name }}</h1>
        <p><strong>Зарплата:</strong> {{ job.salary }} ₽</p>
        <p><strong>Требуемый опыт работы:</strong> {{ job.trebuyemyy_opyt_raboty }}</p>
        <p><strong>Занятость:</strong> {{ job.zanyatost }}</p>
        <p><strong>График:</strong> {{ job.grafik }}</p>
        <p><strong>Удалённая работа:</strong> {{ job.udalonnayarabota|yesno:"Да,Нет" }}</p>
        <p><strong>Краткое описание:</strong> {{ job.kratkoye_opisaniye }}</p>
        <p><strong>Описание:</strong> {{ job.opisaniye }}</p>
        <p><strong>Условия:</strong> {{ job.usloviya }}</p>
        <p><strong>Требования:</strong> {{ job.trebovaniya }}</p>
        <p><strong>Обязанности:</strong> {{ job.obyazannosti }}</p>
        <p><strong>Место работы:</strong> {{ job.mesto_raboty }}</p>
    </div>
{% endblock %}
