{% extends "header.html" %}

{% block title %}{{ obj.name }}{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/object_detail.css' %}">
    <h1 class="chlen_slona">{{ obj.name }}</h1>
    <div class="blur">
        {% if obj.image %}
            <img class="rounded-image" src="{{ obj.image.url }}" alt="{{ obj.name }}">
        {% endif %}
        <div class="opis">
            <p id="description">{{ obj.description }}</p>
        </div>
    </div>
{% endblock %}
