{% extends "header.html" %}

{% block title %}Партнёры{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/parhner.css' %}">
    <div class="chlen_slona">
        ПАРТНЁРЫ
    </div>
    <div>
        {% for obj in objects %}
            {{ obj.name }}
            {% if obj.image %}
                <img src="{{ obj.image.url }}">
                {% else %}
                    иди на хуй
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
