{% extends "header.html" %}

{% block title %}Партнёры{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/parhner.css' %}">
    <div class="chlen_slona">
        ПАРТНЁРЫ
    </div>
    <div class="partners-container">
        {% for obj in objects %}
            <div class="partner-item">
                {% if obj.image %}
                    <img src="{{ obj.image.url }}" alt="{{ obj.name }}" class="partner-img">
                {% else %}
                    <p>Нет изображения</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
