{% extends "header.html" %}

{% block title %}Руководство{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/personal.css' %}">
    <script src="{% static 'js/personal.js' %}"></script>
    <style>
        body {
        /* Устанавливаем фоновое изображение */
        {#background-color: rgba(255, 0, 0, 0.77); /* Белый цвет с 50% прозрачностью */#}
            background-image: url("{% static 'img/i.png' %}");
            background-size: cover; /* Покрывает весь экран */
            background-position: center; /* Центрируем изображение */
            background-repeat: no-repeat; /* Избегаем повторения изображения */
    }
    </style>

    <div class="glavnoe_slovo">
        Руководители
    </div>
<div class="manager_spisok">
    {% for obj in objects %}
        <div class="manager_item">
            <span> {{ obj.surname }}<br> {{ obj.name }} <br> <span class="role"> {{ obj.role }} </span> </span>
        </div>
    {% endfor %}
</div>
{% endblock %}
